.home_bg{
    background-image: url('https://i.ytimg.com/vi/DZAhY3h5x4k/maxresdefault.jpg');
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.home-message-icon{
    margin-left: 10px;
    display: inline-block;
}