.login_bg{
    background-image: url('https://login.gov/assets/img/login-gov-600x314.png');
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
   
}